/.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
build
lib/
out
kangfubao.xml
kangfubao.properties

# generated code
target
.factorypath
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
.mvn
*.jar
.DS_Store
.factorypath
dump.rdb
transaction-logs
logs
/tmp

# newrelic
newrelic
